h1{
    /* color: red;
    background: green;
    text-align: justify; */
    font-size: 50px;
    text-shadow: 5px 20px 10px red;
}

h2{
    color: rgb(122, 10, 166);
}

h2.Orange{
    color: rgb(228, 100, 2);
}
.green{
    color: rgb(0, 255, 128);
}

